.table {
  width: 400px;
  height: 400px;
}
.cell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border: 2px solid green;
    box-sizing: border-box;
  }
}
.row {
  display: flex;
}
.blackCell {
  background: rgb(122, 58, 12);
}
.whiteCell {
  background: rgb(194, 131, 87);
}
.table {
  border: 15px solid #954520;
  border-radius: 10px;
}
